div.gradient {
  background-image: linear-gradient(to right, red, yellow);
}

.titleHome {
  font-family: 'BigelowRules-Regular';
  text-align: center;
  font-size: 60px;
  color: #0cccb5;
}


.zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s;
  /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

img {
  border-radius: 15px 15px 0 0;
  padding: 10px;
}



.search {
  width: 100%;
  padding: 12px 20px;
  width: 40%;
  box-sizing: border-box;
  font-size: 20px;
  margin: auto;
  display: block;

}

.errorText {
  width: 100%;
  width: 40%;
  font-size: 20px;
  margin: auto;
  display: block;
  color: red;
}

.loadingText {
  width: 100%;
  width: 40%;
  font-size: 20px;
  margin: auto;
  display: block;
  color: #0cccb5;
}

.gradient {
  background-image: linear-gradient(to right, red, yellow);
}

.scrollToTopButton {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  outline: none;
}

.host{
  position: fixed;
  float: right;
  cursor: pointer;
  right: 40px;
  bottom: 40px;
  z-index: 100;
  opacity:0.7;
  background-color: white;
  border-radius: 50%;
  width: 64px;
  color: green;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.host:hover{
  transform: scale(1.1);
}

/* style="align-self: center; text-align: center; width: 40%;" */
